<%- include("header") -%>
<link rel="stylesheet" href="css/studentdetails.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">Orphanage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="btn btn-light btn-dark logout" href="/logout" role="button">Log Out</a>
    <div class="collapse navbar-collapse mr-right" id="navbarSupportedContent">
    </div>
  </nav>
  <%items.forEach(function(item){ %>
    <a href="/<%=item.name%>"><h3 class="name"> <%=item.name%></h3></a>
  <%}) %>
