<link rel="stylesheet" href="css/footer.css">
<footer class="text-center text-lg-start ">
  <section class="d-flex justify-content-between p-4 topfooter">
    <div class="me-5">
        <h5>Get connected with us on social networks :</h5>
    </div>
    <div>
      <a href="https://www.facebook.com/sanmay.thota" class="text-white me-4 icon">
        <span class="iconify iconify1" data-icon="cib:facebook" style="color: white; font-size: 25px;"></span>
      </a>
      <a href="https://twitter.com/SanmayThota" class="text-white me-4">
        <span class="iconify iconify1" data-icon="iconoir:twitter" style="color: white; font-size: 25px;"></span>
      </a>
      <a href="https://www.instagram.com/sanmay_sam/" class="text-white me-4">
        <span class="iconify iconify1" data-icon="bi:instagram" style="color: white; font-size: 25px;"></span>
      </a>
      <a href="https://www.linkedin.com/in/sanmay-thota-2864131b6/" class="text-white me-4">
        <span class="iconify iconify1" data-icon="akar-icons:linkedin-fill" style="color: white; font-size: 25px;"></span>
      </a>
      <a href="https://github.com/sammy2201" class="text-white me-4">
        <span class="iconify iconify1" data-icon="akar-icons:github-fill" style="color: white; font-size: 25px;"></span>
      </a>
    </div>
  </section>


  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h5 class="text-uppercase ">Adoption</h5>
          <hr style="width:100%" , size="3" , color=gray>
          <p class="p">
            Adoption is the act of taking something on as your own. Adoption usually refers to the legal process of becoming a non-biological parent, but it also refers to the act of embracing ideas, habits, or free kittens.
          </p>
        </div>


        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h5 class="text-uppercase">Useful links</h5>
          <hr style="width:100%" , size="3" , color=gray>
          <p>
            <a href="https://www.indiatoday.in/education-today/gk-current-affairs/story/child-adoption-children-s-day-1388289-2018-11-14#:~:text=In%20order%20to%20adopt%20a,should%20be%20over%2025%20years" class="text-white">Adoption Eligibility Criteria</a>
          </p>
          <p>
            <a href="https://achildshope.com/want-to-adopt/why-adopt/#:~:text=Adoption%20gives%20hopeful%20parents%20the,they%20wouldn't%20have%20otherwise&text=Adoption%20builds%20rewarding%2C%20meaningful%20relationships,to%20children%20who%20need%20them" class="text-white">Why Adopt?</a>
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h5 class="text-uppercase ">Developers</h5>
          <hr style="width:100%" , size="3" , color=gray>
          <p class="p"> Thota Sanmay Bhavanish </p>
          <p class="p"> Kyasa Aishwarya </p>
          <p class="p"> Mounish </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h5 class="text-uppercase ">Contact</h5>
          <hr style="width:100%" , size="3" , color=gray>
          <p><i class="fas fa-home mr-3"></i> Telangana, JNTUH CEH, India</p>
          <p><i class="fas fa-envelope mr-3"></i> bhavanish2000@gmail.com</p>
          <p><i class="fas fa-phone mr-3"></i> +91 80742 74978</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-3 bottomfooter">
    © 2022 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer>
