<%- include("header") -%>
<link rel="stylesheet" href="css/myacceptedlist.css">


</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-ligh">
    <a class="navbar-brand" href="/">Orphanage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <h1>Accepted List</h1>

  <%items.forEach(function(item){ %>
  <%if(user===item.requestername){%>
  <div class="list">
    <%if(item.orphanagename==="individual"){%>
    <h3> child : <%=item.childname%></h3>
    <%}else{%>
    <h3> child : <%=item.childname%></h3>
    <h3>from : <%=item.orphanagename%></h3>
    <%}%>
  </div>
  <%}%>
    <%}) %>
    <!-- /////////////// -->
    <div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
      <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'> <img src='https://images.pexels.com/photos/1456268/pexels-photo-1456268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'> </div>
        <div class="content">
          <h2>Card One</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget velit tristique, sollicitudin leo viverra, suscipit neque. Aliquam ut facilisis urna, in pretium nibh. Morbi in leo in eros commodo volutpat ac sed dolor.</p>
        </div>
      </div>
      <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'> <img src='https://images.pexels.com/photos/196667/pexels-photo-196667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'> </div>
        <div class="content">
          <h2>Card Two</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget velit tristique, sollicitudin leo viverra, suscipit neque. Aliquam ut facilisis urna, in pretium nibh. Morbi in leo in eros commodo volutpat ac sed dolor.</p>
        </div>
      </div>
      <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'> <img src='https://images.pexels.com/photos/847483/pexels-photo-847483.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'> </div>
        <div class="content">
          <h2>Card Three</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget velit tristique, sollicitudin leo viverra, suscipit neque. Aliquam ut facilisis urna, in pretium nibh. Morbi in leo in eros commodo volutpat ac sed dolor.</p>
        </div>
      </div>
    </div>
