<%- include("header") -%>
<link rel="stylesheet" href="css/posts.css">


</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-ligh">
    <a class="navbar-brand" href="/">Orphanage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mr-right" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1>Add Post</h1>

  <div class="form">
    <form action="/posts" method="POST" enctype="multipart/form-data">
      <div class="title">Welcome</div>
      <div class="subtitle">Add your post!</div>
      <input type="file" name="image" class="file" required>
      <div class="row">
        <div class="col-md">
          <div class="input-container ic2">
              <textarea class="input form-control" name="discription" rows="3" placeholder=" " autocomplete="off"></textarea>
            <div class="cut"></div>
            <label for="exampleFormControlTextarea1" class="placeholder"> discription</label>
          </div>
        </div>

        </div>
        <button type="text" class="submit">submit</button>
      </div>



  <%- include("footer") -%>
