<%- include("header") -%>
<link rel="stylesheet" href="css/login.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-ligh">
  <a class="navbar-brand" href="/">Orphanage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mr-right" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/recentlostlogin">Login as Individual</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /////////////////////////////////////////////////////////// -->

<h1>Register As  Individual</h1>


  <!-- /////////////////////////////////////////////////////////// -->
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="card-body box">
          <form action="/recentlostregister" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="email">User Name</label>
              <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btnbox btn-light">Register</button>
          </form>
        </div>
      </div>
      <div class="col-md">

        <div class="col-md">
          <img class="image" src="images/register.svg" alt="">
        </div>
      </div>

    </div>
  </div>
