<%- include("header") -%>
<link rel="stylesheet" href="css/orphanagedetails.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">Orphanage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mr-right" id="navbarSupportedContent">

    </div>
  </nav>
  <!-- ////////////////////////////////////////////////////////////////////// -->

  <div class="form2">
    <form action="/recentlostdetails" method="POST" enctype="multipart/form-data">
      <div class="title">Welcome</div>
      <div class="subtitle">Add your details!</div>
      <div class="row">
        <div class="col-md">
          <div class="input-container ic2">
            <input id="name" type="text" class="input form-control" name="name" placeholder=" " autocomplete="off">
            <div class="cut cut-short"></div>
            <label for="name" class="placeholder"> Name</label>
          </div>
        </div>
        <div class="col-md">
          <div class="input-container ic2">
            <input id="Age" type="text" class="input form-control" name="Age" placeholder=" " autocomplete="off">
            <div class="cut cut-short"></div>
            <label for="inputPassword4" class="placeholder">Age</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="input-container ic2">
            <input id="mothername" type="text" name="mothername" class="input form-control" placeholder=" " />
            <div class="cut cut-wider"></div>
            <label for="intrestedin" class="placeholder">mother name</label>
          </div>
        </div>
        <div class="col-md">
          <div class="input-container ic2">
            <input id="fathername" type="text" name="fathername" class="input form-control" placeholder=" " />
            <div class="cut cut-wider"></div>
            <label for="fathername" class="placeholder">father name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <div class="input-container ic2">
            <input id="phonenumber" type="text" name="phonenumber" class="input form-control" placeholder=" " />
            <div class="cut cut-wider"></div>
            <label for="inputAddress2" class="placeholder">Phone number</label>
          </div>
        </div>
        <div class="col-md">
          <div class="input-container ic2">
            <input id="Email" type="email" name="email" class="input form-control" placeholder=" " />
            <div class="cut cut-short"></div>
            <label for="inputZip" class="placeholder">Email</label>
          </div>
        </div>
      </div>

      <div class="input-container ic2">
        <input id="Address" type="text" class="input form-control" name="Address" placeholder=" " />
        <div class="cut"></div>
        <label for="inputAddress" class="placeholder" autocomplete="off">Address</label>
      </div>

      <div class="row">
        <div class="col-md">
          <div class="input-container ic2">
            <input id="City" type="text" class="input form-control" name="city" placeholder=" " />
            <div class="cut cut-short"></div>
            <label for="inputCity" class="placeholder">City</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-container ic2">
            <select id="State" name="state" class="input form-control" placeholder=" " />
            <option selected>State</option>
            <option>Andhra pradesh</option>
            <option>Arunachal pradesh</option>
            <option>Assam</option>
            <option>bihar</option>
            <option>chattisgarh</option>
            <option>goa</option>
            <option>gujarat</option>
            <option>haryana</option>
            <option>himachal pradesh</option>
            <option>jharkhand</option>
            <option>karnataka</option>
            <option>kerala</option>
            <option>madhya pradesh</option>
            <option>maharastra</option>
            <option>manipur</option>
            <option>meghalaya</option>
            <option>mizoram</option>
            <option>nagaland</option>
            <option>odisa</option>
            <option>punjab</option>
            <option>rajasthan</option>
            <option>sikkim</option>
            <option>tamilnadu</option>
            <option>telangana</option>
            <option>tripura</option>
            <option>uttarakhand</option>
            <option>uttar pradesh</option>
            <option>west bengal</option>
            </select>
            <div class="cut"></div>

            <label for="inputState" class="placeholder">state</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-container ic2">
            <input id="pincode" type="text" name="pincode" class="input form-control" placeholder=" " />
            <div class="cut"></div>
            <label for="inputZip" class="placeholder">pincode</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="input-container ic2">
            <input id="phonenumber" type="text" name="gender" class="input form-control" placeholder=" " />
            <div class="cut"></div>
            <label for="gender" class="placeholder">Gender</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-container ic2">
            <input id="hobies" type="text" name="hobies" class="input form-control" placeholder=" " />
            <div class="cut"></div>
            <label for="inputPassword4" class="placeholder">Hobbies</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-container ic2">
            <input id="hobies2" type="text" name="hobies2" class="input form-control" placeholder=" " />
            <div class="cut"></div>
            <label for="inputPassword4" class="placeholder">2nd Hobbie</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="input-container ic2">
            <input id="intrestedin" type="text" name="intrestedin" class="input form-control" placeholder=" " />
            <div class="cut cut-wider"></div>
            <label for="intrestedin" class="placeholder">intrested in</label>
          </div>
        </div>
        <div class="col-md">
          <div class="input-container ic2">
            <input id="studies" type="text" name="studies" class="input form-control" placeholder=" " />
            <div class="cut"></div>
            <label for="inputPassword4" class="placeholder">Studies</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="input-container ic2">
            <input id="Achievements" type="text" name="Achievements" class="input form-control" placeholder=" " />
            <div class="cut cut-wider"></div>
            <label for="Achievements" class="placeholder">Achievements</label>
          </div>
        </div>
        <div class="col-md">
          <div class="input-container ic2">
            <input id="occupation" type="text" name="occupation" class="input form-control" placeholder=" " />
            <div class="cut"></div>
            <label for="occupation" class="placeholder">occupation</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="input-container ic2">
            <input id="dob" type="date" name="dob" class="input form-control" placeholder=" " />
            <div class="cut cut-wider"></div>
            <label for="inputPassword4" class="placeholder">Date of birth</label>
          </div>
        </div>
        <div class="col-md">
          <div class="input-container ic2">
            <input type="checkbox" id="18plus" required>
            <label class="file" for="18plus"> Im 18 plus and I take full responsibilities</label><br>
          </div>
        </div>
      </div>


      <input class="file" type="file" name="image" required>
      <button type="text" class="submit">submit</button>
  </div>
  <%- include("footer") -%>
