body {
  /* background-image: -webkit-linear-gradient(50deg, #E4CDA7 50%, #F6F5EE 50%); */
  background-color: #F6F5EE;
  text-align: center;
}

.titlebelow {
  width: 50%;
  margin-left: 8%;
  size: 2px;
}

.navbar {
  background-color: #EAD8B6;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.navbarbutton {
  margin-left: 65%
}

h5 {
  display: inline-grid;
}

p {
  display: inline-grid;
}

.chatbox {
  width: 500px;
  height: 400px;
  overflow: auto;
  background-color: white;
  margin-left: 30%;
  padding: 20px 20px 20px 20px

}

.chatname{
  background-color: #B1D0E0;
  margin-top: 50px;
  margin-left: 30%;
    width: 500px;
}
.chatbox::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.submitcard {
  margin-left: 30%;
  width: 500px;
}


.time {
  opacity: 0.68;
  margin-left: 45%;
}

.msg {
  background-color: #EDEDED;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  text-align: left;

}

.right {
  text-align: right;
  background-color: #172774;
  color: white;
}
