.titlebelow {
  width: 50%;
  margin-left: 8%;
  size: 2px;
}

.navbar {
  background: linear-gradient(to right, #2F3A8F, #2D4263, #2F3A8F);
  color: white
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.navbarbutton {
  margin-left: 65%
}

h5 {
  display: inline-grid;
}

p {
  display: inline-grid;
}

.chatbox {
  width: 500px;
  height: 400px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5) !important;
  margin-left: 30%;
  padding: 20px 20px 20px 20px;
  margin-top: 0;
  position: relative;
}

.chatname {
  background-color: rgba(0, 0, 0, 0.4) !important;
  color: white;
  margin-top: 50px;
  margin-left: 30%;
  margin-bottom: 0;
  width: 500px;
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
  padding: 2%
}

.chatbox::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.submitcard {
  margin-left: 30%;
  width: 500px;
}

.time {
  opacity: 0.68;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100;
  font-size: 10px;
}

.timeleft {
  margin-left: 25px;
}

.timeright {
  margin-left: 425px;
}

.msg {
  background-color: #82ccdd;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 0;
  width: fit-content;
}

.right {
  display: block;
  margin-left: auto;
  margin-right: 0;
  right: 10px;
  background-color: #78e08f;
}

/* /////////////////////////////// */
body, html {
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.type_msg {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto;
}

.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.send_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.user_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa;
}

.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}

.img_cont {
  height: 70px;
  width: 70px;
}

.img_cont_msg {
  height: 40px;
  width: 40px;
}
.card-footer{
  background-color: rgba(0, 0, 0, 0.5) !important
}
