footer{
  background-color: #1A1A40;
}

.icon{
  border: 0
}

.topfooter{
  background-color: #2a2a72;
  margin-top: 50px;
}

.iconify1{
  margin-left: 24px;
}

.p:hover{
  color: gray;
  cursor: pointer;
}

.hr{
  border: 2px white
}

.bottomfooter{
  background-color: #000533
}
