footer {
  color: #F1F1F1;
  background-color: black;
}

.icon {
  border: 0
}

.topfooter {
  margin-top: 100px;
}

.iconify1 {
  margin-left: 24px;
}

.p:hover {
  color: gray;
  cursor: pointer;
}

.hr {
  border: 2px white
}

.bottomfooter {
  background-color: #000533;
  opacity: 0.7
}
.text-uppercase{
  font-family: sans-serif;
}
