body {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.navbar {
  background-color: #006BFF;

}

.navbar {
  color: white
}

h1 {
  text-align: center;
  margin-top: 20px
}

.drop {


}

.d-block {
  height: 400px;
  width: 100px;
}

.btnadopt {
  margin-left: 670px;
  margin-right: 25px;
  background-color: #548CFF;
  color: white;
}

.btnadopt:hover {
  background-color: white;
  color: black;
}

.btnadopt2 {
  margin-right: 25px;
  background-color: #548CFF;
  color: white;
}

.btnadopt2:hover {
  background-color: white;
  color: black;
}

.postimage {
  width: 300px;
  height: 300px
}

.postbox {
  background-color: white;
  margin-top: 2%;
  padding: 2%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.postsoverflow {
  width: 80%;
  height: 900px;
  overflow: auto;
  border-radius: 0;
  margin-left: 10%
}

.comments {
  height: 200px;
  overflow: auto;
}

.commentsheading {
  text-align: center;
}

.commentcontent {
  display: inline-grid;
}

.like {
  background-color: white;
  border: 0
}

.like:hover {
  background-color: white;
  border: 0
}

/* /////////////////////////////////////////////////////// */
.containerr {
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
  display: block;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
}

.carousel__face {
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
  display: flex;
}

.carousel__face:nth-child(1) {
  background-image: url("https://images.pexels.com/photos/1153976/pexels-photo-1153976.jpeg?cs=srgb&dl=pexels-artem-beliaikin-1153976.jpg&fm=jpg");
  transform: rotateY(0deg) translateZ(430px);
}

.carousel__face:nth-child(2) {
  background-image: url("https://images.pexels.com/photos/1739842/pexels-photo-1739842.jpeg?cs=srgb&dl=pexels-hitesh-choudhary-1739842.jpg&fm=jpg");
  transform: rotateY(40deg) translateZ(430px);
}

.carousel__face:nth-child(3) {
  background-image: url("https://images.pexels.com/photos/1344275/pexels-photo-1344275.jpeg?cs=srgb&dl=pexels-denniz-futalan-1344275.jpg&fm=jpg");
  transform: rotateY(80deg) translateZ(430px);
}

.carousel__face:nth-child(4) {
  background-image: url("https://images.pexels.com/photos/6083918/pexels-photo-6083918.jpeg?cs=srgb&dl=pexels-tehmasip-khan-6083918.jpg&fm=jpg");
  transform: rotateY(120deg) translateZ(430px);
}

.carousel__face:nth-child(5) {
  background-image: url("https://images.pexels.com/photos/7979798/pexels-photo-7979798.jpeg?cs=srgb&dl=pexels-kindel-media-7979798.jpg&fm=jpg");
  transform: rotateY(160deg) translateZ(430px);
}

.carousel__face:nth-child(6) {
  background-image: url("https://images.pexels.com/photos/5391282/pexels-photo-5391282.jpeg?cs=srgb&dl=pexels-mumtahina-tanni-5391282.jpg&fm=jpg");
  transform: rotateY(200deg) translateZ(430px);
}

.carousel__face:nth-child(7) {
  background-image: url("https://images.pexels.com/photos/7978523/pexels-photo-7978523.jpeg?cs=srgb&dl=pexels-kindel-media-7978523.jpg&fm=jpg");
  transform: rotateY(240deg) translateZ(430px);
}

.carousel__face:nth-child(8) {
  background-image: url("https://images.pexels.com/photos/1001914/pexels-photo-1001914.jpeg?cs=srgb&dl=pexels-naomi-shi-1001914.jpg&fm=jpg");
  transform: rotateY(280deg) translateZ(430px);
}

.carousel__face:nth-child(9) {
  background-image: url("https://images.pexels.com/photos/4473318/pexels-photo-4473318.jpeg?cs=srgb&dl=pexels-ketut-subiyanto-4473318.jpg&fm=jpg");
  transform: rotateY(320deg) translateZ(430px);
}

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-360deg);
  }
}

.buttonbox {
  margin-top: 500px
}

/* //////////////////////////////////////////////////////////////////////// */
.btn11 {
  top: 50px;
  padding: 20px 90px;
  margin: 0 10px;
  display: table-column;
  text-decoration: none;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  color: #fff;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border-radius: 0px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: transparent !important;
  margin-bottom: 100px
}

.btn11:hover {
  border: 1px solid #transparent;
  color: black;
}

.btn11::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  position: absolute;
  left: 0%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
}

.btn11::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-color: #4d5dfb;
  background-image: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
  position: absolute;
  left: 0%;
  opacity: 1;
  top: 0;
  z-index: -15;
  -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
}

.btn11:hover::before, .btn11:hover::before {
  opacity: 1;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.btn11:hover::after, .btn11:hover::after {
  opacity: 1;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.botton {
  margin-left: 40%;
}

.fas {
  margin-left: 4px;
}

/* ////////////////////////////////////////////////////////////////////////// */
.btndelete {
  background-color: white;
  margin-left: 90%;
  border: 0px;
}

.btndelete:focus {
  outline: none;
}

.btndelete:hover {
  color: red;
}

.btncomment {
  background-color: white;
  border: 0px;
  outline: none;
}

.btncomment:focus {
  outline: none;
}

.btncomment:hover {
  color: red;
}

#onhover {
  visibility: hidden;
  margin-left: 89%;
  text-shadow: 2px;
  font-family: cursive;
}

#postdelete:hover~#onhover {
  visibility: visible;
}

#onhover2 {
  visibility: hidden;
  text-shadow: 2px;
  font-family: cursive;
  font-size: 0.7rem;
}

#commentdelete:hover~#onhover2 {
  visibility: visible;
}

.comments::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

/* /////////////////////////////////// */
.postsoverflow::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.postsoverflow::-webkit-scrollbar {
  width: 10px;
  background-color: #F6F5EE;
}

.postsoverflow::-webkit-scrollbar-thumb {
  background-color: #4c4177;
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
}

.like:focus {
  outline: none;
}

article {
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

h1 {
  font-size: 10vmin;
  line-height: 1.1;
}

/* ///////////////////////////////////////////// */
.card {
  border: none;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  border-radius: 4px;
  margin-top: 20px;
}

.badge {
  padding: 7px;
  padding-right: 9px;
  padding-left: 16px;
  box-shadow: 5px 6px 6px 2px #e9ecef
}

.reply {
  margin-left: 12px
}

.reply small {
  color: #b7b4b4
}

.reply small:hover {
  color: green;
  cursor: pointer
}

.fas {
  cursor: pointer;
}

.iconify {
  cursor: pointer;
}
