body{
  background-color: #F6F5EE;
}

.navbar {
  background-color: #EAD8B6;
  color: black
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}


.d-block{
  height: 400px;
  width: 10px
}
.cardcarousel{
  width: 55%;
  margin-left: 20%
}
