body {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.navbar {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

h1 {
  font-family: "Trirong", serif;
  height: 80px;
  left: 44px;
  top: 90px;
  margin-left: 30%;
  margin-top: 30px;
  font-size: 54px;
  line-height: 80px;
  color: #483434
}

.line {
  width: 40%;
  margin-left: 20%;
}

.image {
  width: 400px;
  height: 300px;
  margin-left: 25%;
}

.box {
  margin-top: 15px;
  width: 80%;
  padding: 5%;
  background-color: #d5fefd;
  background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
  border-radius: 50px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.form-group {
  width: 50%;
  margin-left: 19%
}

.btnbox {
  margin-left: 33%;
  background-color: #2a2a72;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  color: white
}

.btnbox:hover {
  background-color: #EAD8B6;
  color: black
}

.adminbtn {
  padding: 7% 5%;
  margin-right: 70px;
}

.botton {
  background-color: #483434;
  color: white
}

.botton:hover {
  background-color: #EAD8B6;
  color: black
}

.google{
  background-color: white;
  height: 90px;
  border-radius: 10px;
  margin-top: 100px;
  text-align: center;
}

.iconify{
  margin-top: 10px;
  margin-left: 40%;
  display: block;

}
.btn-block-a{
  color: black;
  border: 0;
}
