
body{
  background-color: #F6F5EE;

}

.navbar {
  background-color: #EAD8B6;
  color: black
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}


.box {
  font-family: 'Noto Serif', serif;
  font-weight: lighter;
  width: 80%;
  padding: 1.5%;
  background-color: #F7F7F7;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 50px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.btn{
  margin-left: 450px;
  background-color: #EAD8B6;
  color: black;
  box-shadow: 0 8px 6px -6px #999;
}
.btn:hover{
  background-color:#483434 ;
  color: white;
}
/* ////////////// */
body {
  align-items: center;
  /* background-color: #000; */
  /* display: flex; */
  justify-content: center;
  height: 100vh;
}

.form2 {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height:  900px;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  margin-top: 6%;
}
.form1 {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height:  770px;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  margin-top: 6%;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}
.cut-wide{
  width: 100px;
}
.cut-wider{
  width: 115px;
}
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: white;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
.file{
  margin-top: 25px;
  color: grey;

}
