body{
  background-color: #F6F5EE;
}

.navbar {
  background-color: #EAD8B6;
  color: black
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}



.image{
  width: 200px;
  height: 200px;
  border-radius: 50%
}
