body {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.navbar {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.image {
  width: 50px;
  height: 51px;
}

////////////////
body {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}

.profile-img {
  height: 200px;
  text-align: center;
}

.profile-img img {
  width: 70%;
  height: 100%;
}

.file {
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
  width: 93px
}

.col-md-4 {
  text-align: center;
}

.file input {
  color: white;
  opacity: 0;
  right: 0;
  top: 0;
}

.profile-head h5 {
  color: #333;
  padding-bottom: 8%;
}

.profile-head h6 {
  color: #0062cc;
}

.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}

.proile-rating {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}

.proile-rating span {
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}

.profile-head .nav-tabs {
  margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}

.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}

.profile-work {
  padding: 14%;
  /* margin-top: -15%; */
}

.profile-work p {
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}

.profile-work a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}

.profile-work ul {
  list-style: none;
}

.profile-tab {
  margin-top: 0px;
}

.profile-tab label {
  font-weight: 600;
}

.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}

.containerrev {
  display: inline-grid;
}

/* //////////////////////////////////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* * {
    font-family: 'Poppins', sans-serif
} */
.container .card {
  max-width: 330px;
  height: 115px;
  margin-top: 50px;
  margin-left: 10px;
  padding: 20px 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out
}

.container .card:hover {
  height: 200px
}

.container .card .imgContainer {
  color: white;
  position: relative;
  width: 220px;
  height: 100px;
  top: -50px;
  left: 1px;
  z-index: 1;
  background-color: #04293A;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s
}

@media (max-width: 330px) {
  .container .card .imgContainer {
    left: -2px
  }
}

.containerrev {
  display: inline-grid;
  text-align: center;
}

.requests {
  text-align: center;
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
  height: 400px;
  overflow: auto;
}

.mr-left {
  margin-left: 75%;
  margin-right: 2%;
}

.imagebox {
  margin-top: 15px;
  margin-left: 25px;
}

.chatbox {
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  color: white;
  display: inline-grid;
  width: 100px;
  text-align: center;
  padding: 1%;
  border-radius: 10px;
  margin-left: 20px
}
