body {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.navbar {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.titlebelow {
  width: 50%;
  margin-left: 8%;
  size: 2px;
}

.navbarbutton {
  margin-left: 65%
}

.name {
  margin-top: 30px;
  margin-left: 8%;
  font-family: "Trirong", serif;
  font-weight: bolder;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.fonthome {
  font-family: "Gill Sans", sans-serif
}

.row {
  width: 100%;
}

.box {
  color: black;
  font-family: 'Noto Serif', serif;
  width: 70%;
  padding: 1.5%;
  height: 70%;
  margin-top: 3.5%;
}

.starform {
  display: inline-grid;
}

.star {
  cursor: pointer;
  background-color: inherit;
}



.descriptionbox {
  padding: 2% 5% 5% 5%;
  margin: 20px;
  font-family: " Bookman, URW Bookman L", serif
}

.Childrenhed {
  text-align: center;
}

.studentbox {
  width: 25%;
  display: inline-grid;
  margin: 5% 1% 5% 5%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: 10px
}

div.studentbox p {
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
}

.studentbox:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.adddetailsbox {
  width: 80%;
  padding: 1.5%;
  font-weight: lighter;
  background-color: white;
  margin-left: 10%;
  margin-top: 5%;
  text-align: center;
}

.logout:hover {
  background-color: black;
  color: white
}

.childimage {
  width: inherit;
  height: inherit;
}

.orphanageimage {
  height: 90%;
  width: 90%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Childrenhed {
  margin-top: 100px
}

.orphanageimagebox {
  padding-left: 5%;
  padding-top: 2%;
  height: 400px
}

.top {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, black 0%, #A2D2FF 74%);
  margin-left: 20px;
  margin-right: 20px;
}

.requests {
  text-align: center;
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
  height: 400px;
  overflow: auto;
}

.requests::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.requestlist {
  background-color: #EED6C4;
}

.more {
  cursor: pointer;
}

.btn-success {
  margin-bottom: 5px
}

.btn-danger {
  margin-bottom: 5px
}

.btn-success:hover {
  background-color: #146356
}

.btn-danger:hover {
  background-color: #9B0000
}

.reviews {
  padding: 2%;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #f5f7fa;
  height: 300px;
  overflow: auto;
}

.reviewcontent {
  display: inline-grid;
}

.reviewform {
  text-align: center;
  font-family: "Apple Chancery", cursive
}

/* //////////////////////////////////////////////////////////////////////// */
@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }

  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.btn-primary {
  display: block;
  margin-left: 45%
}

.file {
  display: block;
}

.chatatag {
  border: 0;
  background-color: #88E0EF;
  color: white;
  padding: 3%
}

.listItem {
  margin-bottom: 20px;
}

.chat {
  margin-top: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px
}

.chatbox {
  position: fixed;
  background-color: white;
  z-index: 1;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 10px;
  text-align: center;
  margin-left: 82%
}

/* //////////////////////////////////////////////////////////////////////// */
.btn11 {
  top: 50px;
  padding: 20px 90px;
  margin: 0 10px;
  display: table-column;
  text-decoration: none;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  color: #fff;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border-radius: 0px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: transparent !important;
  margin-bottom: 50px;
}

.btn11:hover {
  border: 1px solid #transparent;
  color: black;
}

.btn11::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  position: absolute;
  left: 0%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
}

.btn11::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-color: #4d5dfb;
  background-image: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
  position: absolute;
  left: 0%;
  opacity: 1;
  top: 0;
  z-index: -15;
  -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
}

.btn11:hover::before, .btn11:hover::before {
  opacity: 1;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.btn11:hover::after, .btn11:hover::after {
  opacity: 1;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.botton {
  margin-left: 35%;
}

/* ////////////////////////////////////////////////////////////////////////// */
.btnfos {
  color: white;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}

@media (min-width: 400px) {
  .btnfos {
    display: inline-block;
    margin-right: 2.5em;
  }

  .btnfos:nth-of-type(even) {
    margin-right: 0;
  }
}

@media (min-width: 600px) {
  .btnfos:nth-of-type(even) {
    margin-right: 2.5em;
  }

  .btnfos:nth-of-type(5) {
    margin-right: 0;
  }
}

.btnfos-1 {
  background-color: #4d5dfb;
  background-image: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
  font-weight: 100;
  text-align: center;
  margin-left: 40%;
  margin-top: 2%
}

.btnfos-1 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}

.btnfos-1 rect {
  fill: none;
  stroke: black;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
}

.btnfos-1:hover {
  background: rgba(225, 51, 45, 0);
  letter-spacing: 1px;
  font-weight: 900;
  color: black
}

.btnfos-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

button {
  border: 0
}

/* ////////////////////////////////////////////////////////// */
@import url('https://fonts.googleapis.com/css?family=Lato');

/* default */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .flip-card-container */
.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);
  width: 310px;
  height: 500px;
  margin: 25px;
  display: inline-grid;
  perspective: 1000px;
  margin-left: 100px
}

/* .flip-card */
.flip-card {
  width: inherit;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  transition: .5s .1s;
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card-front */
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

/* .card-back */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* figure */
figure {
  z-index: -1;
}

/* figure, .img-bg */
figure,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* img */
img {
  height: 100%;
  border-radius: 24px;
}

/* figcaption */
figcaption {
  display: block;
  width: auto;
  margin-top: 12%;
  padding: 8px 22px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;
  position: absolute;
  top: 0;
  right: 12px;
  color: var(--white-1);
  background: black;
}

/* .img-bg */
.card-front .img-bg {
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}

.card-front .img-bg::before {
  content: "";
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(18deg);
  width: 100%;
  height: 6px;
  border-left-color: transparent;
  border-right-color: transparent;
  transition: .1s;
}

/* .card-back .img-bg {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
} */
/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}

/* ul */
ul {
  padding-top: 50%;
  margin: 0 auto;
  width: 70%;
  height: 100%;
  list-style: none;
  color: var(--white-1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* button */
.flipbtn {
  font-family: inherit;
  font-weight: bold;
  color: var(--white-1);
  letter-spacing: 2px;
  padding: 9px 20px;
  border: 1px solid var(--grey);
  border-radius: 1000px;
  background: transparent;
  transition: .3s;
  margin-top: 430px;
  cursor: pointer;
  background: black
}

.flipbtn:hover,
.flipbtn:focus {
  color: var(--primary);
  background: hsla(var(--hue), 25%, 10%, .2);
  border-color: currentColor;
}

.flipbtn:active {
  transform: translate(2px);
}

/* ////////////////////////////////////////////////// */
.btn11c {
  margin-left: 38%
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* * {
    font-family: 'Poppins', sans-serif
} */
.container .card {
  max-width: 330px;
  height: 115px;
  margin-top: 50px;
  margin-left: 10px;
  padding: 20px 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out
}

.container .card:hover {
  height: 200px
}

.container .card .imgContainer {
  color: white;
  position: relative;
  width: 220px;
  height: 100px;
  top: -50px;
  left: 1px;
  z-index: 1;
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2)
}

.container .card .imgContainer img {
  max-width: 100%;
  border-radius: 4px
}

.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s
}

@media (max-width: 330px) {
  .container .card .imgContainer {
    left: -2px
  }
}

.containerrev {
  display: inline-grid;
}

.btnreivew {
  display: inline-grid;
  background-color: white;
  border: 0px;
  margin-left: 90%;
  cursor: pointer;
}

.btnreivew:focus {
  outline: none;
}

.btnreivew:hover {
  color: red;
}

.childdelete {
  cursor: pointer;
  margin-bottom: 5px
}

.childdelete:hover {
  color: red;
}

#onhover {
  visibility: hidden;
  text-shadow: 2px;
  font-family: cursive;
  margin-left: 89%;
  font-size: 0.7rem;
}

#reviewdelete:hover~#onhover {
  visibility: visible;
}

.formclass {
  height: fit-content;
}

.sodi {
  margin-bottom: 0px;
}

.reveal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 5px;
  margin-top: 20px
}

.reveal::-webkit-scrollbar {
  width: 5px;
  height: 5px
}

.reveal::-webkit-scrollbar-thumb {
  background-color: #4c4177;
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
}

.reviews::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 5px;
}

.reviews::-webkit-scrollbar {
  width: 5px;
}

.reviews::-webkit-scrollbar-thumb {
  background-color: #4c4177;
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
}

/* ///////////////////////////////////////////// */
.card {
  border: none;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  border-radius: 4px;
  margin-top: 20px;
}

.badge {
  padding: 7px;
  padding-right: 9px;
  padding-left: 16px;
  box-shadow: 5px 6px 6px 2px #e9ecef
}

.reply {
  margin-left: 12px
}

.reply small {
  color: #b7b4b4
}

.reply small:hover {
  color: green;
  cursor: pointer
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-right: 28px;
  margin-left: 80%;
  position: relative;
  width: 100px;
  top: 70px;
  z-index: 3;
  border-radius: 100px;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: white;
  text-align: center;
  width: 300px;
  height: 500px;
  overflow: auto;
}

.chat-popup::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.chatboxheading {
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
  padding: 2%;
}

/* /////////////////////////////////////////////////////////// */
.button {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  border: 2px solid white;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 10px;
  display: inline-block;
  margin-left: 460px
}

.button:hover {
  background-color: white;
  color: #1686d9;
  border: 2px solid #1686d9;
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 2000px;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  z-index: 10
}

.modal-contents {
  height: fit-content;
  width: 500px;
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
  margin-top: 130px
}

.btn-outline-secondary {
  margin-top: 15px
}

.state {
  margin-top: 15px
}

input {
  margin: 15px auto;
  display: block;
  width: 50%;
  padding: 8px;
  border: 1px solid gray;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  cursor: pointer;
  border: 0;
}

.close:hover {
  color: #666;
}
